[profile.default]
ffi = false
fuzz_runs = 256
gas_reports = ["Bagholder"]
optimizer = true
optimizer_runs = 1000000
remappings = [
  "solmate/=lib/solmate/src/",
  "forge-std/=lib/forge-std/src/",
  "v3-core/=lib/v3-core/contracts/",
  "v3-periphery/=lib/v3-periphery/contracts/",
  "boringsolidity/=lib/boringsolidity/contracts/",
  "openzeppelin/=lib/openzeppelin-contracts/contracts/",
  "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
]
test = 'tests'
verbosity = 1

# Extreme Fuzzing CI Profile :P
[profile.ci]
fuzz_runs = 100_000
verbosity = 4
